@media (max-width: 720px) {
    .pricing {
        flex-direction: column;
    }
}


#header {
    height: 30px;
    position: fixed;
    width: 100%;
    padding: 20px;
    background-color: #eee;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    float: right;
    padding-right: 100px;
}

#header-img {
    display: inline-block;
}

main {

}

#atf {
    padding-top: 70px;
    text-align: center;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #eee;
}

.nav-link {
    text-decoration: none;
    color: black;
}

#email {
    display: block;
    margin: auto;
    width: 250px;
    height: 25px;
    padding-left: 5px;
}

#submit {
    margin-top: 15px;
    background-color: orange;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    width: 125px;
    height: 30px;
    cursor: pointer;
}

.row {
    width: 100%;
}

.icon {
    display: inline-block;
    width: 20%;
    text-align: right;
    padding-right: 25px;
    vertical-align: super;
}

.description {
    display: inline-block;
    width: 73%;
    text-align: left;
    padding-left: 30px;
}

.feature-name {
    font-weight: bold;
    font-size: 25px;
    line-height: 0px;
}

#how-it-works {
    padding-top: 50px;
    text-align: center;
}

#pricing {
    padding-top: 30px;
    margin-bottom: 50px;
}

#features {
    margin-top: 30px;
}

.pricing {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 120px;
}

#price-1 {
    width: 30%;
    border: solid 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.price-name {
    background-color: dimgrey;
    text-align: center;
    font-size: 18px;
}

.price-content {
    text-align: center;
    padding-bottom: 10px;
}

.price-no {
    font-weight: bold;
    font-size: 24px;
}

.cta {
    border: none;
    border-radius: 5px;
    background-color: orange;
    width: 100px;
    height: 35px;
    padding: 8px;
    cursor: pointer;
}
